body { background-color: #DA77FF !important;
     }
h1 { color: #FF3D2F !important; }
h2 { color: #61F738 !important;}
h3 { color: #3868F7 !important;}
h4 { color: #FFDA39 !important;}
h5 { color: #FF45BE !important;}


.my-button {
  background-color: #4CAF50; /* Зеленый цвет */
  color: white; /* Белый текст */
  padding: 15px 32px; /* Отступы по вертикали и горизонтали */
  text-align: center; /* Центрирование текста */
  font-size: 16px; /* Размер текста */
  cursor: pointer; /* Курсор при наведении */
  border: none; /* Убираем рамку */
  border-radius: 5px; /* Скругленные углы */
  width: 145%; /* Растягиваем кнопку на всю ширину */
  box-sizing: border-box; /* Учитываем отступы и рамки при расчете ширины */
}

    
