body { background-color: #DA77FF /* желтый */
     }
h1 { color: #FF3D2F !important; }
h2 { color: #61F738 !important;}
h3 { color: #3868F7 !important;}
h4 { color: #FFDA39 !important;}
h5 { color: #FF45BE !important;}

    
